/* common styles */

.color-1{
    color: #4E47FF;
}
.color-2{
     color: #252432;
}

.btn-primry{
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    padding: 13px 15px ;
    font-weight: bold;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

  .logo{
    font-weight: bold; 
    font-size: 25px;
}


/* header styles */
header{
    background-image: url(../Assets/Hero-bg.png);   
    background-size: cover;  
   width: 100%;
   height: 598px; 
}


/* nav styles */

nav ul{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
}
nav ul li{
    margin-left: 150px;
    margin-right: 150px;
    padding: 51.5px 0 51.5px 0;
   
}


/* banner styles */

.banner-title{
    font-weight: bold;
    font-size: 65px;
}

.banner{
   
    margin: 0 152px 0 267px;
}

.banner-contant{
    
    text-align: center;    
}
 

main{
    max-width: 1540px;
    margin: 0 auto;
    
}

/* Action Section styles */
.action-Section img{
    height: 328px;
    width: 403px;
    border-radius: 48px;
}
.action-Section{
    display: flex;
    margin-top: 116px;
    justify-content: space-between;
    text-align: left;
}
.title{
    font-size: 42px;
    font-weight: bold;
}

.subtitle{
    font-size: 20px;
    display: block;
}

/* productive-user-section  styles */

.productive-user-section{
    text-align: center;
    margin-top: 116px;
    background-color: #b5b4c8;
    border-radius: 24px;
    padding: 50px 144px;
}
.user-section-title{
    font-size: 38px;
    font-weight: bold;
      text-align: center;
}

.items{
    display: flex;
    justify-content: space-around;  
   
}

.item-title{
    font-size: 80px;
    font-weight: bold ;
}

.item{
    font-size: 20px;
    color: #4e4848;
  
}
.item-title,
.title-description {
  margin: 0;
  padding: 0;
}

/* card styles */

.card-section{
    margin-top: 137px;
}

.c-title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.card{
    background-color: #F2EDED;
    box-shadow: 0 6px 5px 0 rgb(135, 132, 132);
    padding: 24px;
    border-radius: 14px;
    height: 200px;
    text-align: left;
}

.card-cointainer{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-top: 50px;
}
.card-last-description-items{
    display: flex;
    gap: 10px;
}


.card-last-description{
    display: flex;
    gap: 6px;
    
    margin: 24px 0 0 0;
    
    
}

.card-last-description img{
    border-radius: 50%;
    height: 40px ;
    width: 40px ;
}



.card-last-description-items {
    display: block;   
    width: 100%;
}

.card-last-description-items input {
    display: block;   
    width: 100%;
    height: 20px;
    margin-bottom: 0; 
    padding: 2px;
    border: none;
 border-radius: 5px;
}



/* feature-highlight-section styles */

.feature-highlight-section {
   
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 137px;
    background-color: #F2EDED;
    border-radius: 40px;
    width: 100%;
} 
.feature-title{
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;

}
.feature-description{
    margin-top: 20px;
    margin-bottom: 10px;
}
.feature-highlight-section button {
    margin: 20px 472px 20px 472px;
}

.feature-highlight-section img{
    height: 464px;
    width: 840px;
    border-radius: 48px;
    margin: 20px 10px 75px 10px;
}
.feature-highlight-section{
    align-items: center;
    
}
/* contact section styles */

.contact{
    display: flex;
     justify-content: space-between; 
    align-items: center; 
    padding: 20px 25px;
    height: 364px;
    width: 100%;
     border-radius: 14px;
     margin-top: 86.23px;
}
.contact-title{
    font-size: 97px;
    font-weight: bold;  
     max-width: 40%; 
    width: 528px;   
}

form{
    display: block;
    gap: 44px;
    margin-top: 80px;
}

form input{
    display: block;  
}

form textarea, form button{
    display: block;
}


.contact-form input,
.contact-form textarea {
  padding: 12px;
 border:  1px solid 000000;
  border-radius: 6px;
  font-size: 14px;
  width: 99.80%; 
}

.contact-form button{
    width:  99.80%;
    margin-top: 19px;
}

.contact-form label{
    margin-top: 19px;
}

